* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    background-color: #7ACBCD;
    font-family: 'Roboto', sans-serif;
    height: 80px;
    align-items: center;
    padding-left: 5px;
}

footer {
    width: 100%;
}

nav {
    width: 70%;
}

nav #Links {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    gap: 30px;
    max-height: 0;
    padding-left: 45%;
    pointer-events: auto;
    text-align: center;
    padding-bottom: 15px;
}

nav #Links li:hover a {
    color: #031A5B;
}

.ListaCDC a:hover {
    color: #7ACBCD;
}

#Logo img {
    width: 150px;
    padding-left: 30px;
}

li {
    list-style: none;
}

a {
    color: #FAFAFA;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.LinksButtons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.ExternalLinks:hover {
    background-color: #031A5B;
}

.ExternalLinks {
    display: block;
    width: 185px;
    height: 40px;
    padding-top: 15px;
    text-align: center;
    background-color: #7ACBCD;
    border-radius: 6px;
}

.FlexContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    gap: 3em;
}

.Rede li {
    list-style-type: arrow;
    color: white;
}

.Rede h1 {
    color: white;
    padding-bottom: 5px;
}

.Rede {
    padding-top: 45px;
    padding-bottom: 30px;
    background-color: #7ACBCD;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
}

.LinksButtons img {
    width: 50px;
    display: flex;
    align-items: center;
    max-height: 75px;
}

#WPA {
    width: 100px;
}

.TextTitle {
    display: flex;
    flex-direction: column;
    background-image: url(./assets/cdcfoto.png);
    height: 500px;
    background-position: center;
    background-size: cover;
    background-color: #CCCCCC;
    align-items: center;
    justify-content: center;
}

.TextTitle h1 {
    font-family: 'Roboto';
    font-size: 80px;
    text-align: center;
    color: white;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
}

.ListaCDC {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 16px;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    height: 80px;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.ListaCDC a {
    color: white;
}

.Cofounded {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 16px;
    align-items: center;
    height: 150px;
}

.Cofounded img {
    max-width: 300px;
}

.Cofounded p {
    max-width: 50%;
    text-align: center;
}